In [1]:
# Dependencies
import pandas as pd

In [6]:
# Save file path to variable
#or file= "Resources/Pokemon.csv" 
csv_path = "Resources/Pokemon.csv"

In [7]:
# Read with Pandas
poke_df = pd.read_csv(csv_path)
poke_df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [16]:
# Extract the following columns: "Type 1", "HP", "Attack", "Sp. Atk", "Sp. Def", and "Speed" [[]] - sending want just those columns
sel_poke_df = poke_df[["Type 1", "HP", "Attack", "Sp. Atk", "Sp. Def", "Speed"]]

In [17]:
# Create a dataframe of the average stats for each type of pokemon.
stat_poke_df = sel_poke_df.groupby(["Type 1"]) 
avg_stat_df = stat_poke_df.mean()
avg_stat_df

                 HP      Attack    Sp. Atk    Sp. Def       Speed
Type 1
Bug       56.884058   70.971014  53.869565  64.797101   61.681159
Dark      66.806452   88.387097  74.645161  69.516129   76.161290
Dragon    83.312500  112.125000  96.843750  88.843750   83.031250
Electric  59.795455   69.090909  90.022727  73.704545   84.500000
Fairy     74.117647   61.529412  78.529412  84.705882   48.588235
Fighting  69.851852   96.777778  53.111111  64.703704   66.074074
Fire      69.903846   84.769231  88.980769  72.211538   74.442308
Flying    70.750000   78.750000  94.250000  72.500000  102.500000
Ghost     64.437500   73.781250  79.343750  76.468750   64.343750
Grass     67.271429   73.214286  77.500000  70.428571   61.928571
Ground    73.781250   95.750000  56.468750  62.750000   63.906250
Ice       72.000000   72.750000  77.541667  76.291667   63.458333
Normal    77.275510   73.469388  55.816327  63.724490   71.551020
Poison    67.250000   74.678571  60.428571  64.392857   63.571429
Psychic   70.631579   71.456140  98.403509  86.280702   81.491228
Rock      65.363636   92.863636  63.340909  75.477273   55.909091
Steel     65.222222   92.703704  67.518519  80.629630   55.259259
Water     72.062500   74.151786  74.812500  70.517857   65.964286

In [22]:
# Calculate the total power level of each type of pokemon by summing all of the stats together.
#tricky bc adding accross, not down axis=1 adds accross, axis=0  adds down 
avg_stat_df.sum(axis=1)
# Place the results into a new column.
sum_stat_df= avg_stat_df.sum(axis=1)
sum_stat_df
# Hint: Research the sum method from pandas.

Type 1
Bug         308.202899
Dark        375.516129
Dragon      464.156250
Electric    377.113636
Fairy       347.470588
Fighting    350.518519
Fire        390.307692
Flying      418.750000
Ghost       358.375000
Grass       350.342857
Ground      352.656250
Ice         362.041667
Normal      341.836735
Poison      330.321429
Psychic     408.263158
Rock        352.954545
Steel       361.333333
Water       357.508929
dtype: float64

In [29]:
# Bonus: Sort the table by strongest type and export the resulting table to a new CSV.
strong_df= sum_stat_df.sort_values(["sum_stat_df"], ascending=False)
strong_df.to_csv("output/poke_rank.csv", index=True)

TypeError: unhashable type: 'list'